*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Rosa: #FF69B4;
    --Branco: #fff;
}

body{
    background-image: url(./img/outro\ fundo.jpg);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}